body nav {
  font-family: Abel;
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: bold;
  color: #f5f5f5; }

.back-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  background: rgba(255, 255, 255, 0.2);
  font-size: 10px;
  padding: 5px;
  border-radius: 5px;
  z-index: 999; }

.title-text {
  display: inline-block;
  font-family: Abel;
  padding: 1em  31.4em 0.4em 0;
  color: #f5f5f5;
  font-family: 'Abel', sans-serif;
  text-align: center;
  border-bottom: 1px solid #AA924F; }

.title-text:hover {
  color: #AA924F;
  font-family: Abel;
  border-bottom: 1px solid #f5f5f5; }

.text {
  font-family: Abel;
  padding: 0.5em 0;
  font-size: 16px;
  color: #f5f5f5;
  font-family: 'Abel';
  text-align: justify; }

.title-text-news {
  font-family: Abel;
  padding: 0em 34.4em 0.4em 0;
  margin: 0 23.3em 0 0;
  color: #f5f5f5;
  font-family: 'Abel', sans-serif;
  border-bottom: 1px solid #AA924F; }

.title-text-news:hover {
  color: #AA924F;
  font-family: Abel;
  border-bottom: 1px solid #f5f5f5; }

.text-ex {
  font-family: Abel;
  padding: 0.5em 0;
  font-size: 14px;
  color: #f5f5f5;
  font-family: 'Abel';
  text-align: justify; }

nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background: black;
  padding: 0 7em; }

.listas {
  display: flex;
  width: 100%;
  background: black;
  justify-content: space-between;
  align-items: center; }

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 4em; }

.button-list {
  background: none;
  border: none;
  text-decoration: none; }

.buttonlist {
  color: #AA924F;
  text-decoration: none; }

.buttonlist:hover {
  color: #f5f5f5;
  font-family: Abel;
  border-bottom: 1px solid #AA924F;
  text-decoration: none; }

.img-responsive {
  margin: 7px 0; }

.video_background {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  width: 100%;
  overflow: hidden; }

.section {
  margin: -20px; }

.newsletter {
  background: black;
  padding: 1em 9.3em;
  font-size: 1.1em;
  color: #AA924F; }

.formulario {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  background: black;
  padding: 1em 9.3em;
  font-size: 1.1em;
  color: #AA924F; }

.email {
  display: inline-block;
  width: 36.4%;
  font-family: 'Abel', sans-serif;
  font-size: 1em;
  padding: 1em;
  margin: 1em 0 0 -613px;
  border-radius: 6px;
  border-style: none; }

.bottom {
  display: inline-block;
  background: linear-gradient(-40deg, #7A6425, #AA924F);
  color: white;
  margin-top: 1em;
  padding: 1.07em 2.5em;
  border-radius: 6px;
  border-style: none; }

.redes {
  display: inline-flex;
  padding: 5px;
  font-size: xx-large;
  color: white; }

.redes:hover {
  color: #AA924F;
  background: none; }

footer {
  font-family: 'Abel', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.9em;
  font-weight: bold;
  color: white;
  text-align: center;
  content-left: 30em;
  background: black;
  width: 100%; }

.giphy-embed {
  width: 20em; }

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  background-color: DodgerBlue;
  padding: 1em 9.3em;
  background-image: url("https://avatanplus.com/files/resources/original/576d213dbdfb41558249d952.jpg");
  background-size: 100%; }

.container-text {
  margin: 0;
  padding: 1em;
  font-family: Abel;
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: bold;
  color: #AA924F; }

.container-text:hover {
  color: white; }

.container-disco {
  text-align: center;
  width: 14em;
  font-size: 25.9px;
  padding-bottom: 1em; }

.img-discos {
  width: 14em; }

.banda {
  position: relative;
  min-width: 100%;
  width: 124%;
  margin-left: -130px; }

.span-bio {
  position: absolute;
  padding: 0 1em 2em 1em;
  top: 152em;
  right: 9em;
  left: 9em;
  background: rgba(0, 0, 0, 0.65); }
