@media only screen and (min-width: 320px) and (max-width: 480px){

body {
    overflow-x: hidden;
}

nav{
    font-family: Abel;
    letter-spacing: 2px;
    font-size: 7.5px;
    font-weight: bold;
    color: #f5f5f5;
}

.back-top{
    position: fixed;
    right: 10px;
    bottom: 10px;
    background: rgba(255,255,255,0.2);
    font-size: 10px;
    padding: 5px;
    border-radius: 5px;
    z-index: 999;
}

.title-text{
    display: inline-block;
    font-family: Abel;
    width: 87%;
    color: #f5f5f5;
    border-bottom: 1px solid #AA924F;
    animation-name: pulse;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-duration: 2s;
    font-size: 24px;
}

/*the animation definition*/

@keyframes pulse {
  0% {
    transform: translate3d(0, 100%, 0);
    visibility: visible
  }
  100% {
    transform: translate3d(0, 0, 0)
  }
}

.title-text:hover{
    color: #AA924F;
    font-family: Abel;
    border-bottom: 1px solid #f5f5f5;
}

.text{
    display: none;
}

.title-text-news{
    display: inline-block;
    font-family: Abel;
    text-align: left;
    width: 87%;
    font-size: 20px;
    padding-bottom: 0.7em;
    color: #f5f5f5;
    border-bottom: 1px solid #AA924F;
}

.title-text-news:hover{
    color: #AA924F;
    font-family: Abel;
    border-bottom: 1px solid #f5f5f5;
}

.text-ex{
    font-family: Abel;
    padding: 0 41px 0 0;
    font-size: 12px;
    width: 100%;
    color: #f5f5f5;
    font-family: 'Abel';
    text-align: justify;    
}

.particles-background{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -9999;
}
}

@media only screen and (min-width: 481px) and (max-width: 767px){

body {
    overflow-x: hidden;
}

nav{
    font-family: Abel;
    letter-spacing: 2px;
    font-size: 7.5px;
    font-weight: bold;
    color: #f5f5f5;
}

.back-top{
    position: fixed;
    right: 10px;
    bottom: 10px;
    background: rgba(255,255,255,0.2);
    font-size: 10px;
    padding: 5px;
    border-radius: 5px;
    z-index: 999;
}

.title-text{
    display: inline-block;
    font-family: Abel;
    padding-right: 13.5em;
    width: 100%;
    color: #f5f5f5;
    border-bottom: 1px solid #AA924F;
    animation-name: pulse;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-duration: 2s;
    font-size: 24px;
}

/*the animation definition*/

@keyframes pulse {
  0% {
    transform: translate3d(0, 100%, 0);
    visibility: visible
  }
  100% {
    transform: translate3d(0, 0, 0)
  }
}

.title-text:hover{
    color: #AA924F;
    font-family: Abel;
    border-bottom: 1px solid #f5f5f5;
}

.text{
    display: none;
}

.title-text-news{
    display: inline-block;
    font-family: Abel;
    text-align: left;
    width: 87%;
    font-size: 20px;
    padding-bottom: 0.7em;
    color: #f5f5f5;
    border-bottom: 1px solid #AA924F;
}

.title-text-news:hover{
    color: #AA924F;
    font-family: Abel;
    border-bottom: 1px solid #f5f5f5;
}

.text-ex{
    font-family: Abel;
    padding: 0 41px 0 0;
    font-size: 12px;
    width: 100%;
    color: #f5f5f5;
    font-family: 'Abel';
    text-align: justify;    
}

.particles-background{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -9999;
}
}

@media only screen and (min-width: 1025px){

body {
    overflow-x: hidden;
}

nav{
    font-family: Abel;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: bold;
    color: #f5f5f5;
}

.back-top{
    position: fixed;
    right: 10px;
    bottom: 10px;
    background: rgba(255,255,255,0.2);
    font-size: 10px;
    padding: 5px;
    border-radius: 5px;
    z-index: 999;
}

.title-text{
    display: inline-block;
    font-family: Abel;
    width: 100%;
    color: #f5f5f5;
    border-bottom: 1px solid #AA924F;
}

.title-text:hover{
    color: #AA924F;
    font-family: Abel;
    border-bottom: 1px solid #f5f5f5;
}

.text{
    font-family: Abel;
    padding: 0.5em 0;
    font-size: 16px;
    color: #f5f5f5;
    font-family: 'Abel';
    text-align: justify;
}

.title-text-news{
    display: inline-block;
    font-family: Abel;
    text-align: left;
    width: 100%;
    font-size: 20px;
    padding-bottom: 0.7em;
    color: #f5f5f5;
    border-bottom: 1px solid #AA924F;
}

.title-text-news:hover{
    color: #AA924F;
    font-family: Abel;
    border-bottom: 1px solid #f5f5f5;
}

.text-ex{
    font-family: Abel;
    padding: 0.5em 0;
    font-size: 14px;
    color: #f5f5f5;
    font-family: 'Abel';
    text-align: justify;    
}

.particles-background{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -9999;
}
}