.email{
	font-family: 'Abel', sans-serif;
	font-size: 1em;
	padding: 1em;
	margin: 1em 0;
	border-radius: 6px;
	border-style: none;
	width: 80%;
}

.bottom{
  	background: linear-gradient(-40deg, #7A6425, #AA924F);
	color: white;
	margin-top: 1em;
	padding: 1.07em 2.5em;
	border-radius: 6px;
	border-style: none;
	width: 18%;
}

.redes{
	display: inline-flex;
	padding: 0.2em 0.2em 0;	
	font-size: xx-large;
	color: white;
	width: 100%;
}

.redes:hover{
	color: #AA924F;
	background: none;
}

footer{
	display: flex;
	justify-content: space-between;
	font-family: 'Abel';
	text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1em;
	font-weight: bold;
	color: white;
	width: 100%;
}

 .copyright{
 	width: 100%;
 	align-content: center;
 	align-items: center;
 	padding: 0;
 }

.giphy-embed{
	display: inline-flex;
	width: 20em;
}