.banda {
	position: relative;
    min-width: 100%;
    width: 124%;
    margin-left: -130px;
}

.span-bio{
	position: absolute;
	padding: 0 1em 2em 1em;
    top: 152em;
    right: 9em;
    left: 9em;
	background: rgba(0, 0, 0, 0.65);
}