nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background: black;
    padding: 0 7em;
}

.listas {
    display: flex;
    width: 100%;
    background: black;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10em;
}

.button-list {
    background: none;
    border: none;
    text-decoration: none;
}

.buttonlist{
    color: #AA924F;
    text-decoration: none;
}

.buttonlist:hover{
    color: #f5f5f5;
    font-family: Abel;
    border-bottom: 1px solid #AA924F;    
    text-decoration: none;
}

.img-responsive{
    margin: 7px 0;
}