.bottom-comprar{
	display: flex;
	text-align: center;
	justify-content: center;
	background: linear-gradient(-40deg, #7A6425, #AA924F);
	color: white;
	padding: 0.5em;
	border-radius: 6px;
	border-style: none;
	text-decoration: none;
}

.bottom-comprar:hover{
	background: linear-gradient(20deg, #AA924F, #7A6425);
	text-decoration: none;
}

.thumbnail{
	display: flex;
	text-align: center;
	justify-content: center;
	font-family: abel;
	background-color: #f8eff0;
	animation-name: zoomIn;
	animation-fill-mode: both;
	animation-iteration-count: 1;
	animation-duration: 2s;
}

/*the animation definition*/
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3)
  }
  50% {
    opacity: 1
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3)
  }
  50% {
    opacity: 1
  }
}