.flex-container{
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	padding: 1em 9.3em;
}

.container-text{
	margin: 0;
	padding: 1em;
	font-family: Abel;
	letter-spacing: 2px;
	font-size: 18px;
	font-weight: bold;
	color: #AA924F;
}

.container-text:hover{
	color: white;
}

.container-disco{
	text-align: center;
	width: 14em;
	font-size: 25.9px;
	padding-bottom: 1em;
}

.img-discos{
	width: 14em;
}