<!DOCTYPE html>
<html lang="es"/>
<head>
	<meta charset="UTF-8"/>
	<link rel="stylesheet" type="text/css" href="estiloFF.css">
	<title>Discos</title>
</head>
<body style="background-color:black;">
	<main>
	<a href="index2.html"></a>
		<header>
			<a href="index2.html"><img class="header-logo" src="FFLogo.jpg" alt="Logo FF"/></a><!--logo-->
	</header>
	<nav class="nav">
		<ul class="menu">
			<li class="Compra"><a href="Compra.html" target="_blank">Compra</a></li>
			<li class="videos"><a href="Videos.html" target="_blank">Videos</a></li>
			<li class="discos"><a href="Discos.html" target="_blank">Discos</a></li>
		</ul>
	</nav>
		<section>
			<div>
				<table border="3" cellpadding="10" cellspacing="4" class="tabla2017" /> <!--borde, margen de texto con borde, espacio entre celdas-->
					<span class="span-tabla">
						<thead> <!--encabezado de tabla-->
							<tr> 
								<th>Integrantes</th> <!--titulo de tabla (horizontal)-->
								<th>Fecha de lanzamiento</th>
								<th>Lista de temas</th>
								<th>Duración</th>
							</tr>
						</thead>
					</span>
						<tbody>
							<tr>
								<td>
									<p>Dave Grohl</p>
									<p>Pat Smear</p>
									<p>Nate Mendel</p>
									<p>Taylor Hawkins</p>
									<p>Chris Shiflett</p>
									<p>Rami Jaffee</p>
								<td>15 de septiembre de 2017</td>
								<td>
									<ol>
										<li>T-Shirt</li>
										<li>Run</li>
										<li>Make It Right</li>
										<li>The Sky Is a Neighborhood</li>
										<li>La Dee Da</li>
										<li>Dirty Water</li>
										<li>Arrows</li>
										<li>Happy Ever After (Zero Hour)</li>
										<li>Sunday Rain</li>
										<li>The Line</li>
										<li>Concrete and Gold</li>
									</ol>
								</td>
								<span class="duracion">
								<td>
									<ul>
										<li>1:23</li>
										<li>5:23</li>
										<li>4:39</li>
										<li>4:05</li>
										<li>4:03</li>
										<li>5:21</li>
										<li>4:26</li>
										<li>3:41</li>
										<li>6:11</li>
										<li>3:38</li>
										<li>5:32</li>
									</ul>
								<span>
							</tr>
						</tbody>
				</table>
			</div>
		</section>
		<aside></aside>
		<footer>
		<div class="footer">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto perferendis alias, assumenda vitae impedit culpa maiores commodi voluptates facere quaerat voluptate distinctio ullam quisquam laborum facilis placeat illo. Laboriosam.
			<ul class="redes">
				<a href="https://www.instagram.com/foofighters/?hl=es-la" target="_blank"><img class="instagram-icon" src="instagram-icon.png" alt="Instagram"/></a>
				<a href="https://www.facebook.com/foofighters/" target="_blank"><img class="facebook-icon" src="facebook-icon.png" alt="facebook"/></a>
				<a href="https://www.youtube.com/channel/UCGRjJrpD2bmk9Ilq6nq80qg" target="_blank"><img class="youtube-icon" src="youtube-icon.png" alt="Youtube"/></a>
			</ul>
		</div>
	</footer>
	</main>
</body>
</html>