<!DOCTYPE html>
<html lang="es"/>
<head>
	<meta charset="UTF-8"/>
	<link rel="stylesheet" type="text/css" href="estiloFF.css"/>
	<link href="https://fonts.googleapis.com/css?family=Abel|News+Cycle|Wire+One" rel="stylesheet">
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
	<title>Foo Fighters</title>
</head>
<body style="background-color:black;">
	<main>
	<nav class="nav">
		<div>
			<h1><img class="nav-logo" src="FFLogo.jpg" alt="Logo FF"/></h1>
			<ul class="menu">
				<li class="discografia"><a href="discografia.html" target="_blank">Discografía</a></li>		
				<li class="integrantes"><a href="integrantes.html" target="_blank">Integrantes</a></li>
				<li class="merchandising"><a href="merchandising.html" target="_blank">Merchandising</a></li>
				<li class="videos"><a href="videos.html" target="_blank">Videos</a></li>
				<li class="tours"><a href="tours.html" target="_blank">Tours</a></li>
			</ul>
		</div>
	</nav>
	<section>
		<div>
			<h2 class="titulomerch">Merchandising - Collections Unisex</h2>
		</div>
			<div class="amerchandising">
				<div>
					<img class="merch" src="merch1.png" alt="clothes">
					<img class="merch" src="merch2.png" alt="clothes">
					<img class="merch" src="merch3.png" alt="clothes">
				</div>
				<div>
					<h3 class="merchan">CAMISETA "EQUALS"</h3><span class="merchanp">$150</span>
					<h3 class="merchan">CAMISETA DE FOTOS</h3><span class="merchanp">$120</span>
					<h3 class="merchan">GORRA SNAP (GRIS)</h3><span class="merchanp">$99</span>
				</div>
				<div>
					<img class="merch" src="merch4.png" alt="clothes">
					<img class="merch" src="merch5.png" alt="clothes">
					<img class="merch" src="merch6.png" alt="clothes">
				</div>
				<div>
					<h3 class="merchan">GORRA SNAP(NEGRA)</h3><span class="merchanp">$99</span>
					<h3 class="merchan">CAMISETA FIGHTERS</h3><span class="merchanp">$130</span>
					<h3 class="merchan">CAMISETA TIGER-WING</h3><span class="merchanp">$140</span>
				</div>
				<div>
					<img class="merch" src="merch7.png" alt="clothes">
					<img class="merch" src="merch8.png" alt="clothes">
					<img class="merch" src="merch9.png" alt="clothes">
				</div>
				<div>
					<h3 class="merchan">CAMISETA SUMMER FF</h3><span class="merchanp">$150</span>
					<h3 class="merchan">CAMISETA "1 BY 1"</h3><span class="merchanp">$160</span>
					<h3 class="merchan">CAMISETA DE BÉISBOL</h3><span class="merchanp">$180</span>
				</div>
			</div>
		</div>
	</section>
	<footer>
		<div>
			<div class="newsletter">
				<h4 class="newsletterr">NEWSLETTER</h4>
					<h5>Suscríbete al correo oficial de Foo Fighters para obtener actualización e información exclusiva.</h5>
					<label class="label" for="email"></label>
					<input class="email" type="email" placeholder="tu email@ejemplo.com"/>
					<button class="bottom" type="submit"><i class="fas fa-angle-right"></i></button>
			</div>
			<ul>
				<h6>© FOO FIGHTERS OFFICIAL STORE 2018</h6>
				<li class="redes"><a class="redes" href="https://www.instagram.com/foofighters/?hl=es-la" target="_blank"><i class="fab fa-instagram"></i></a></li>
				<li class="redes"><a class="redes" href="https://www.facebook.com/foofighters/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
				<li class="redes"><a class="redes" href="https://www.youtube.com/channel/UCGRjJrpD2bmk9Ilq6nq80qg" target="_blank"><i class="fab fa-youtube-square"></i></a></li>
			</ul>
		</div>
	</footer>
	</main>
</body>
</html>